.nav {
  margin-left: 8rem;

  @include respond(phone) {
    display: none
  }

  &__ul {
    @extend %aligncenter;
  }

  &__list {
    list-style: none;
    margin-right: 4rem;

    @include respond(phone) {
      margin-right: 0;
    }

    &-1 {
      @include respond(phone) {
        margin-right: 2.4rem;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: $color-white;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  &--footer {
    margin-left: 0;
    margin-top: 2.5rem;

    @include respond(phone) {
      display: block;
    }
  }
}