.about {
  padding: 12rem 0;

  @include respond(tablet) {
    padding: 11.2rem 0;
  }

  @include respond(phone) {
    padding: 8rem 0 10.8rem 0;
    background-position: calc(100% + 10rem) calc(100% + 10rem)
  }

  @include bacimg('../images/section1-img-about.png', 20rem 20rem) {
    // background-position: calc(50% + 68.4rem) bottom;
    background-position: calc(100% + 10rem) bottom;
  }

  @media only screen and (min-resolution:192dpi)and(min-width:376px),
  (min-width:2000px) {
    background-image: url(../images/section1-img-about@2x.png);
  }

  & .container {
    @extend %jsb;

    @include respond(tablet) {
      flex-direction: column;
      text-align: center;
    }
  }
}

.meet {
  background-color: $color-green-47;
  text-align: center;

  background-image: url(../images/section2-img-about.png), url(../images/section3-img-1.png);
  background-repeat: no-repeat;
  background-size: 20rem 20rem, 14.7rem 10rem;
  // background-position: calc(50% - 68rem) top, calc(50% + 63rem) bottom;
  background-position: -10rem top, right bottom;

  @media only screen and(min-resolution:192dpi)and(min-width:376px),
  (min-width:2000px) {
    background-image: url(../images/section2-img-about@2x.png), url(../images/section3-img-1@2x.png);
  }

  padding-top: 14rem;
  padding-bottom: calc(14rem - 7.6rem);

  @include respond(phone) {
    padding-top: 8.8rem;
    padding-bottom: calc(11.6rem - 5.2rem);
    background-position: calc(0% - 10rem) calc(0% - 10rem), right bottom;
  }
}

.directors {
  margin-top: 6.4rem;
  @extend %jsb;
  flex-wrap: wrap;
  list-style: none;

  @include respond(tablet) {
    justify-content: center;
  }

  @include respond(tablet) {
    .director:not(:nth-child(even)) {
      margin-right: 1rem;
    }
  }

  @include respond(phone) {
    .director:not(:nth-child(even)) {
      margin-right: 0;
    }

    margin-top: 4.8rem;
  }
}


.dumaloq {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  background-color: $color-light-coral;

  position: absolute;
  top: calc(100% - 2.8rem);
  left: calc(50% - 2.8rem);

  &::before {
    @include ba(1.6rem, .4rem) {
      background-color: $color-green-34;
    }

    position: absolute;
    top: calc(50% - .2rem);
    left: calc(50% - .8rem);

  }

  &::after {
    @include ba(1.6rem, .4rem) {
      background-color: $color-green-34;
      transform: rotate(90deg);
    }

    position: absolute;
    top: calc(50% - .2rem);
    left: calc(50% - .8rem);

  }

  &--aden {
    background-color: $color-blue-c7;

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.img {
  display: inline-block;
  margin-top: 2.4rem;

  &__twitter {
    width: 2.4rem;
    height: 2rem;
    margin-right: 1.6rem;
  }

  &__in {
    width: 2rem;
    height: 2rem;
  }
}

.clients {
  background-color: $color-green-34;
  text-align: center;
  padding: 14rem 0;

  background-image: url(../../images/section2-img.png);
  background-repeat: no-repeat;
  background-size: 20rem, 20rem;
  // background-position: calc(50% - 58rem) -4.6rem;
  background-position: 0 -4.6rem;

  @media only screen and(min-resolution:192dpi)and(min-width:376px),
  (min-width:2000px) {
    background-image: url(../images/section2-img@2x.png);
  }


  @include respond(tablet) {
    padding: 10rem 0;
    background-position: 0 -14.6rem;

    &__img-logo-1 {
      width: 10.3rem;
      height: 1.7rem;
    }

    &__img-logo-2 {
      width: 10.3rem;
    }

    &__img-logo-3 {
      width: 11.6rem;
    }

    &__img-logo-4 {
      width: 10.8rem;
    }

    &__img-logo-5 {
      width: 7rem;
    }

  }

  @include respond(phone) {
    padding: 8.8rem 0 calc(8.8rem - 5.6rem) 0;
    background-position: calc(0% - 10rem) calc(0% - 14rem);

    &__img-logo-1 {
      width: 14.6rem;
      height: 2.4rem;
    }

    &__img-logo-2 {
      width: 15.6rem;
    }

    &__img-logo-3 {
      width: 14rem;
    }

    &__img-logo-4 {
      width: 13.4rem;
    }

    &__img-logo-5 {
      width: 9.6rem;
    }

  }

  &__ul {
    list-style: none;
    margin-top: 6.4rem;
    @extend %jsb;

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__list {
    @include respond(phone) {
      margin-bottom: 5.6rem;
    }
  }

}